.container {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.input {
  display: none;
}

.actionWrapper {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  border-width: 2px;
  border-style: solid;
}

.radioWrapper {
  border-radius: 50%;
}

.checkboxWrapper {
  border-radius: 20%;
}

.checkboxIcon,
.radioMark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
}

.radioMark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label {
  margin-left: 0.5rem;
}
